@media(max-width:1560px) {
  .popular-blog {

    .slick-next {

      right: 30px;
    }

    .slick-prev {

      left: 30px;
    }
  }

  .popular-blog__items {

    padding: 0 80px;
    margin: 0 -10px;
  }
}








@media(max-width:1300px) {
  .popular-categories__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .partners__img {
    max-width: 20%;
    width: auto;
    height: auto;
    object-fit: contain;

  }

  .blog-item {

    margin: 0 15px;
  }

  .blog-item__img-link {
    max-height: 100%;
    height: auto;
  }

  .blog-item__img {
    height: auto;
    max-height: 325px;
  }

  .blog-item--overview {
    margin: 0;
  }

  .blog-one__inner {
    flex-direction: column;
  }

  .blog-one__aside {
    width: 100%;
    max-width: 100%;
    order: 0;

    .latest-article,
    .banner {
      display: none;
    }
  }

  .blog-one__filter {
    margin-bottom: 35px;

    .filter__title {
      display: none;
    }

    .filter-search {
      border: none;
      padding: 0px;
      margin-bottom: 30px;

      .filter-search__input {
        width: 100%;
        max-width: 100%;

        &::placeholder {
          color: $default;
        }
      }
    }
  }

  .blog-one__content {
    max-width: 100%;
  }


  .overview__items {
    flex-direction: column;
    .blog-item--overview {
      margin-bottom: 20px;
      width: 100%;
      max-width: 100%;
    }
  
  }

  .blog-one__content {
    order: 1;
  }


}














@media(max-width:1250px) {
  .promo__inner {
    background-position: right;
    height: 460px;

  }

  .promo__content {
    padding: 50px;
  }

  .title {
    font-size: 38px;
  }

  .promo__text {
    font-size: 29px;
  }

  .promo__timer {
    justify-content: space-around;
    margin-bottom: 30px;
  }

  .blog-item {
    height: auto;

  }

  .blog__items {
    .blog-item {

      height: 470px;
    }

  }




  .blog-item__img {

    max-height: 100%;


  }

  .shop__inner {
    flex-direction: column;
  }

  .shop__filters {
    display: none;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;

    &--active {
      display: block;
    }
  }


  .top-filters__btn--filters {
    display: inline-block;
    border: 1px solid $bg;
    padding: 15px 30px;
    margin-bottom: 20px;

    svg {
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .blog__tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .blog__tabs-btn {
    &:nth-child(7) {
      grid-column: 2 span;
      grid-row: 2;
    }

    &:nth-child(5) {
      grid-column: 1;
      grid-row: 2;
    }
  }

  .contacts__content{
    flex-direction: column;

  }

  .contacts__map{
    order: -1;
    margin-bottom: 30px;
    width: 100%;
    max-width: 100%;
    
  }

  .contacts__form{
    max-width: 100%;
  }

  .contacts__form-btn{
    width: 100%;
  }
}




@media(max-width:1100px) {
  .footer__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .footer__form {
    grid-column: 2 span;
    text-align: center;

    .footer__title {
      margin: 0 auto;
    }

  }


  .footer__navigation,
  .footer__social {
    margin: 0 auto;
    text-align: center;
  }

  .footer__social {
    grid-column: 2 span;
  }





  .footer__input {
    width: 100%;
  }


  .popular-products__items {
    grid-template-columns: repeat(3, 1fr);

  }

  .product-item {
    margin: 0 auto;
  }

  .product__details {
    flex-direction: column;
  }

  .slider-product {
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .slider-product__full-item {
    margin: 0 auto;
  }

  .slider-product__full-img {
    max-width: 100%;
    width: 100%;

  }

  .product__item {
    max-width: 100%;
  }

  

  
  .blog__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog__items {
    .blog-item {

      height: 600px;
    }

  }

}






@media(max-width:1000px) {
  .promo__inner {
    background-image: none;
    background-color: $bg;
  }

  .promo__content {
    max-width: 100%;
  }

  .promo__timer {

    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .promo__inner {
    background-position: right;
    height: auto;
  }

  .promo,
  section {
    padding: 50px 0;
  }

  .specifications__name {
    margin-right: 25px;
    min-width: 300px;
  }

  .blog__items {
    .blog-item {

      height: 540px;
    }

  }

}




@media(max-width:850px) {
  .popular-categories__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .popular-categories__item-subtitle {
    font-size: 24px;
    margin-bottom: 13px;
  }

  .popular-categories__item-title {
    font-size: 44px;
    margin-bottom: 15px;
  }

  .popular-categories__item-link {

    font-size: 18px;
  }


  .popular-categories__item:nth-child(1) {
    grid-column: 1;
    justify-content: start;

    .popular-categories__item-img {
      max-width: 400px;
      width: 100%;

      object-fit: cover;
    }
  }

  .popular-categories__item:nth-child(2) {
    grid-row: 1;

    .popular-categories__item-img {

      max-height: 300px;
      object-fit: cover;
    }
  }


  .popular-products__items {
    grid-template-columns: repeat(2, 1fr);

  }

  .blog-item__content {
    padding: 30px 30px;
  }

  .blog-item {
    margin: 0;
  }

  .blog-item--overview {
    margin-bottom: 20px;
  }

  .shop__content-items {
    grid-template-columns: repeat(2, 1fr);
  }


  .reviews__evaluation-total {
    width: 100%;
    margin-bottom: 10px;
  }

  .reviews__evaluation {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .reviews__evaluation-item {
    margin-bottom: 15px;
  }

  .blog__items {
    .blog-item {

      height: 500px;
    }

  }

  .blog__tabs {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .blog__tabs-btn {
    &:nth-child(7) {
      grid-column: 1 span;
      grid-row: 2;
    }

    &:nth-child(5) {
      grid-column: 1;
      grid-row: 2;
    }
  }


  .contacts__item {
    padding: 25px 30px;
  }
}




@media(max-width:768px) {
  .user-nav {
    display: none;
  }

  .user-nav--mobile {
    display: flex;
  }

  .header__content-title {

    font-size: 52px;
    line-height: 52px;
  }

  .header__content-text {
    color: #fff;
    font-size: 22px;
    line-height: 28px;
  }

  .header__content {
    height: 580px;
  }

  .footer {
    padding-bottom: 60px;
  }

  .popular-products__tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .popular-products__tab-link {
    border: 1px solid $border;
    padding: 10px 10px;

  }

  .popular-products__tab-link.mixitup-control-active {
    border: 1px solid $border;
    background-color: $accent;
    color: #fff;
  }

  .popular-products__tab-link+.popular-products__tab-link {
    margin-left: 0;
  }

  .tabs__link {
    font-size: 18px;
  }

  .specifications__name {
    min-width: 200px;
    max-width: 200px;
    width: 100%;
  }

  .overview {
    padding-top: 0px;
  }

  .similar .slick-track {
    padding: 0 0 40px;
  }

  .blog__items {
    .blog-item {

      height: auto;
    }

  }

  .blog__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog__tabs {
    grid-template-columns: repeat(2, 1fr);

  }


.contacts__item-img{
  background: none;
  box-shadow:none;
  margin: 0 auto;
  
}

.contacts__item{
  padding: 10px;
  &:hover{
    border-color: transparent;
  }

}

.contacts__item:hover .contacts__item-img {
  background-color: transparent;
}

.contacts__form-box{
  display: block;
}

.contacts__form-input+.contacts__form-input {
  margin-left: 0;
  margin-top: 30px;
}

.page-404__title {
  line-height: 32px;
  font-size: 23px;
}

}
















@media(max-width:600px) {
  .menu {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 50px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $bg;
    padding: 20px 0;
    border-top: 1px solid $border;
    transform: translateY(200%);
    transition: transform .2s;
    z-index: 10;
  }

  .menu__link {
    font-size: 22px;
  }

  .menu__item+.menu__item {
    border-top: 1px solid $border;

    margin-left: 0;

  }

  .menu--active {

    transform: translateY(0);
    transition: transform .2s;
  }

  .menu__item {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }


  .footer__copy {
    flex-direction: column;
    align-items: center;

  }

  .footer__copy-text {
    margin-bottom: 10px;
  }

  .footer__social {
    align-self: end;
  }

  .title {
    font-size: 26px;
    line-height: 26px;
  }

  .promo__content {
    padding: 30px;
  }

  .promo__title {
    margin-bottom: 5px;
  }

  .promo__text {
    font-size: 25px;
    margin-bottom: 5px;
    line-height: 25px;
  }

  .promo__timer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    max-width: 200px;
  }

  .promo__text-timer {
    line-height: 20px;
  }

  .promo__timer-item {
    margin: 0 auto;
  }

  .popular-categories__item-img {
    display: none;
  }

  .popular-categories__items {
    .popular-categories__item {
      min-height: auto;
      display: block;
      text-align: center;
    }


  }

  .popular-categories__item:nth-child(1) .popular-categories__item-title,
  .popular-categories__item:nth-child(2) .popular-categories__item-title,
  .popular-categories__item-title {
    font-size: 30px;
  }


  .popular-products__items {
    grid-template-columns: repeat(1, 1fr);


  }

  .product-item {
    max-width: 100%;
  }

  .product-item__img-box {
    margin: 0 auto;
  }

  .product-item--missing .product-item__interaction {
    bottom: 25px;
  }

  .partners__inner {
    flex-wrap: wrap;

  }

  .partners__img {
    width: 40%;
    max-width: 50%;
    margin-bottom: 30px;
  }

  .partners {

    padding: 30px 0 0;
  }

  .bars-btn {
    display: block;
  }

  .popular-blog__items {

    padding: 0 10px;
  }

  .slick-arrow {
    svg {
      filter: drop-shadow(0px 0px 3px $title );

      path {
        fill: $bg  !important;
      }
    }
  }

  .popular-blog .slick-disabled svg path {
    fill: $default  !important;
  }

  .popular-blog .slick-arrow {
    top: 40%;
  }

  .shop__content-items {
    grid-template-columns: repeat(1, 1fr);
  }

  .top-filters__buttons {
    display: none;
  }

  .top-filters__select-text {
    margin-right: 0;
    margin-left: auto;
    display: block;
    text-align: right;
    margin-bottom: 5px;
  }

  .top-filters .jq-selectbox__select-text {
    font-size: 14px;
  }


  .tabs__list {
    flex-direction: column;

  }

  .tabs__item {
    padding: 10px 20px;
    background-color: $bg;
    margin-bottom: 10px;
  }

  .tabs__top {
    background-color: transparent;
  }

  .review-post__form-rate {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .review-post__form-item {
    margin-bottom: 20px;
    margin-right: 15px;
  }

  .review-post__form-item+.review-post__form-item {
    margin-left: 0;
  }

  .review-post__form-block {
    flex-direction: column;
    margin-bottom: 0;
  }

  .review-post__form-input {
    width: 100%;
    margin-bottom: 20px;
  }

  .popular-blog,
  .overview__items {
    .blog-item__img {
      display: none;
    }

  }

  .article__info-box {
    display: block;
  }

  .article__tags {
    margin-bottom: 5px;
  }

  .article__author,
  .article__date {
    display: inline-block;
  }

  .article__title {
    font-size: 25px;
  }


  .contacts__item-name {
    font-size: 18px;
    margin-bottom: 4px;
}

.contacts__item-text, .contacts__item-link {
  font-size: 15px;
}

.page-404__inner{
  flex-direction: column;
}

.page-404__img-box{
  order: -1;
  margin-bottom: 20px;
}
}










@media(max-width:500px) {
  .video-popup__content {
    margin-top: 50px;
  }

  .video-popup__text {
    font-size: 14px;
    line-height: 19px;
  }

  .popular-products__tabs {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .blog-item__content {
    padding: 20px 10px;
  }

  .blog-item__info {
    flex-direction: column;
  }

  .popular-blog {
    padding: 50px 0;
  }

  .review-post__form-btn {
    width: 100%;
  }

  .specifications__list {
    flex-direction: column;
    align-items: start;
  }

  .specifications__name {
    border-bottom: 1px solid $title;
    width: auto;
    max-width: 100%;
    min-width: auto;
  }

  .blog-item--overview {
    border-radius: 0;
  }

  .authorization {
    padding: 60px 0;
  }

  .authorization__box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .authorization__label {
    margin-bottom: 5px;
  }

  .blog__tabs {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .blog__tabs-btn {
    &:nth-child(7) {
      grid-column: auto;
      grid-row: auto;
    }

    &:nth-child(5) {
      grid-column: auto;
      grid-row: auto;
    }
  }

.contacts__items{
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding: 20px 0;
}
.contacts__item{
  width: 100%;
  max-width: 100%;
}



}



@media(max-width:440px) {
  .header__content {
    height: 480px;
  }

  .header__content-title {
    font-size: 40px;
    line-height: 40px;
  }

  .footer__inner {
    grid-template-rows: repeat(4, 1fr);

  }

  .footer__navigation {
    grid-column: 2 span;
  }

  .footer__copy-pay {
    display: block;
    text-align: center;
  }

  .footer__copy-img+.footer__copy-img {
    margin-left: 0;
  }

  .footer__copy-img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }

  .promo__text {
    font-size: 18px;
  }

  .promo__timer-item {
    width: 60px;
    height: 60px;
  }

  .promo__timer-num {
    font-size: 25px;
  }

  .promo__timer-text {
    font-size: 14px;
  }

  .promo__timer {
    max-width: 150px;
  }


  .popular-products__tabs {
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);

  }

  .popular-categories__item {
    min-width: auto;
    padding: 15px;
  }

  .popular-categories__item:nth-child(1) .popular-categories__item-title,
  .popular-categories__item:nth-child(2) .popular-categories__item-title,
  .popular-categories__item-title {
    font-size: 26px;
  }

  .popular-blog .slick-arrow {
    top: 35%;
  }

  .product__info-block {
    flex-wrap: wrap;
  }

  .product__name {
    font-size: 28px;
    line-height: 29px;
  }

  .blog-item__title {
    font-size: 18px;
  }

  .blog-item__info-text {
    margin-bottom: 4px;
  }

  .article__title {
    justify-content: start;
    align-items: end;
    bottom: 10px;
    left: 10px;
    font-size: 21px;
}

.blog-one__reviews{
  .reviews__user-box{
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .jq-ry-container {
    padding: 0;
   
}
.reviews__evaluation-rate{
  margin-left: 5px;
}

.review-post__rate{
  margin-bottom: 10px;
}
.review-post__title{
  padding: 10px 0;
}
}

.page-404__title {
  font-size: 22px;
  line-height: 23px;
}

}



@media(max-width:360px) {
  .reviews__evaluation-item {
    margin-bottom: 5px;
  }

  .reviews__item {
    padding: 15px;
  }

  .review-post__form-item {
    margin-bottom: 10px;
  }
}