$accent: #068911;
$title: #202020;
$default: #666;
$bg: #ebeef0;
$border: #ececec;
$accent-hover: #3ab845;
%sfp-400 {
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-weight: 400;
}

%sfp-700 {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
} 
  
%sfp-600 {
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-weight: 600;
}

%sfp-500 {
  font-family: 'SFProDisplay-Medium', sans-serif;
  font-weight: 500;
}

%barlow-400 {
  font-family: 'Barlow-Regular', sans-serif;
  font-weight: 400;
}

%barlow-700 {
  font-family: 'Barlow-Bold', sans-serif;
  font-weight: 700;
}


@function max($numbers...) {
  @return m#{a}x(#{$numbers});
 }
 @function min($numbers...) {
  @return m#{i}n(#{$numbers});
 }
 

 %btn{
  @extend %sfp-600;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #fff;
  width: 150px;
  height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  color: $accent;
  cursor: pointer;
  border: 1px solid $accent;
  box-shadow: 0px 0px 5px $accent;
  
  transition: all .3s;

  
  &:hover {
    background-color: $accent;
    color: #fff;

  }

 
 }